@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik+Dirt&display=swap');
@theme {
    --color-brown: rgba(55, 47, 45, 1);
    --color-semi-black:rgba(30, 30, 30, 1);
    --color-red:rgba(228,40,67,1);
    --color-blueack:rgba(30, 30, 30, 1);
    --font-rubik:"Rubik Dirt","sans-serif"
}
@import "tailwindcss"